.education-container {
    width: 75%;
}

.school-container {
    margin: 0px 20px;
    position: relative;
}

ul {
    list-style:circle;
}

.horisontal-line {
    border-top: 4px rgba(103, 103, 194, 0.493) solid;
    margin-top: -15px;
    margin-bottom: 15px;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
}